<div class="row">
    <div class="colcol-sm-6 col-md-6">
      <div id="full-coverage"></div>
    </div>
    <div class="colcol-sm-6 col-md-6">
      <div id="cal-heatmap"></div>
      <div class="ui icon buttons">
        <button id="previous" class="mini ui button">
          Prev
        </button>
        <button id="next" class="mini ui button">
          Next
        </button>
      </div>
  </div>
</div>
  <div class="row">
    <div class="column">
      <div id="bar-authors"></div>
    </div>
    <div class="column">
      <table class="ui table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Lines</th>
            <th>Uncovered Lines</th>
            <th>Coverage</th>
          </tr>
        </thead>
        <tr ng-repeat="author in authors">
          <td data-title="'Name'" sortable="'name'">
            {{author.author}}
          </td>
          <td data-title="'SLOC'" sortable="'sloc'">
            {{author.lines}}
          </td>
          <td data-title="'Uncovered'" sortable="'uncovered'">
            {{author.uncoveredLines}}
          </td>
          <td data-title="'Coverage'" sortable="'coverage'">
            {{100 - 100*author.uncoveredLines/author.lines | number:2}}%
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div id="bar-files"></div>
      <table class="ui table">
        <thead>
          <tr>
            <th>File</th>
            <th>Lines</th>
            <th>Uncovered Lines</th>
            <th>Coverage</th>
          </tr>
        </thead>
        <tr ng-repeat="file in files">
          <td data-title="'Name'" sortable="'name'">
            {{file.filename}}
          </td>
          <td data-title="'Lines'" sortable="'lines'">
            {{file.lines}}
          </td>
          <td data-title="'Uncovered'" sortable="'uncovered'">
            {{file.uncoveredLines}}
          </td>
          <td data-title="'Coverage'" sortable="'coverage'">
            {{file.coverage | number:2}}%
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
