
########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
.tmp
coverage/coverage*
node_modules

npm-debug.log
11
.idea
lib/

########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
atlassian-ide-plugin.xml
coverage-blamer.sublime-project
