.dashboard
  col()
.head
  col()
  background-color #aab8ff
  font-weight bold
  padding-top 20px
.author
  col(19)
.file
  col(19)
.date
  col(19)
.lines
  col(3)
.uncoveredLines
  col(4)
.coverage
  col(5)