div.line
  col()
  span.coverage
    col(2)
  span.author
    col(7)
  span.linenumber
    col(2)
    border-right: 2px solid black
  span.code
    col(20)

div.line.uncovered
  background-color: #ff7a72